{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!master(layout/_master.tmpl)}}
{{{rawTitle}}}
<div class="page-version">
    {{#dnnversion}}DNN Version: <span class="dnn-version">{{dnnversion}}</span>{{/dnnversion}}
    {{#firstappearedinversion}}&bull; First Appeared in DNN Version: <span class="dnn-version">{{firstappearedinversion}}</span>{{/firstappearedinversion}}
</div>
<div class="page-stats row visible-xs">
    <div class="pull-left">{{#gitPageDate}}{{gitPageDate}}{{/gitPageDate}} {{#wordCount}}&bull; {{timeToRead}} {{/wordCount}} to read</div>
    {{#gitPageContributor1Login}}
    <div class="pull-left">Contributors&nbsp;
        <a href="{{gitPageContributor1HtmlUrl}}" target="_blank">
            <img class="img-circle" src="{{gitPageContributor1AvatarUrl}}" alt="{{gitPageContributor1Login}}">
        </a>
        {{#gitPageContributor2Login}} 
        <a href="{{gitPageContributor2HtmlUrl}}" target="_blank">
            <img class="img-circle" src="{{gitPageContributor2AvatarUrl}}" alt="{{gitPageContributor2Login}}">
        </a>
        {{/gitPageContributor2Login}} 
        {{#gitPageContributor3Login}} 
        <a href="{{gitPageContributor3HtmlUrl}}" target="_blank">
            <img class="img-circle" src="{{gitPageContributor3AvatarUrl}}" alt="{{gitPageContributor3Login}}">
        </a>
        {{/gitPageContributor3Login}} 
        {{#gitPageContributor4Login}} 
        <a href="{{gitPageContributor4HtmlUrl}}" target="_blank">
            <img class="img-circle" src="{{gitPageContributor4AvatarUrl}}" alt="{{gitPageContributor4Login}}">
        </a>
        {{/gitPageContributor4Login}} 
        {{#gitPageContributor5Login}} 
        <a href="{{gitPageContributor5HtmlUrl}}" target="_blank">
            <img class="img-circle" src="{{gitPageContributor5AvatarUrl}}" alt="{{gitPageContributor5Login}}">
        </a>
        {{/gitPageContributor5Login}}
    </div>
    {{/gitPageContributor1Login}}
</div>
<div class="page-stats row visible-sm visible-md visible-lg visible-xl">
    {{#gitPageDate}} 
    <span class="pull-left">{{gitPageDate}}</span>
    {{/gitPageDate}}
    <span class="pull-left">&nbsp;&bull;{{#wordCount}} {{timeToRead}} {{/wordCount}} to read</span>
    {{#gitPageContributor1Login}}
    <span class="pull-left">&nbsp;&bull;&nbsp;Contributors&nbsp;
        <a href="{{gitPageContributor1HtmlUrl}}" target="_blank">
            <img class="img-circle" src="{{gitPageContributor1AvatarUrl}}" alt="{{gitPageContributor1Login}}">
        </a>
        {{#gitPageContributor2Login}} 
        <a href="{{gitPageContributor2HtmlUrl}}" target="_blank">
            <img class="img-circle" src="{{gitPageContributor2AvatarUrl}}" alt="{{gitPageContributor2Login}}">
        </a>
        {{/gitPageContributor2Login}} 
        {{#gitPageContributor3Login}} 
        <a href="{{gitPageContributor3HtmlUrl}}" target="_blank">
            <img class="img-circle" src="{{gitPageContributor3AvatarUrl}}" alt="{{gitPageContributor3Login}}">
        </a>
        {{/gitPageContributor3Login}} 
        {{#gitPageContributor4Login}} 
        <a href="{{gitPageContributor4HtmlUrl}}" target="_blank">
            <img class="img-circle" src="{{gitPageContributor4AvatarUrl}}" alt="{{gitPageContributor4Login}}">
        </a>
        {{/gitPageContributor4Login}} 
        {{#gitPageContributor5Login}} 
        <a href="{{gitPageContributor5HtmlUrl}}" target="_blank">
            <img class="img-circle" src="{{gitPageContributor5AvatarUrl}}" alt="{{gitPageContributor5Login}}">
        </a>
        {{/gitPageContributor5Login}}
    </span>
    {{/gitPageContributor1Login}}
</div>
{{{conceptual}}}