{{!Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE file in the project root for full license information.}}
{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
{{!include(search-stopwords.json)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/head}}
  <body data-spy="scroll" data-target="#affix" data-offset="120" class="homepage">
    <div id="wrapper">
      <header>
        {{^_disableNavbar}}
        {{>partials/navbar}}
        {{/_disableNavbar}}
        {{^_disableBreadcrumb}}
        {{>partials/breadcrumb}}
        {{/_disableBreadcrumb}}
      </header>
      {{#_enableSearch}}
      <div class="container body-content">
        {{>partials/searchResults}}
      </div>
      {{/_enableSearch}}
      <div role="main" class="container body-content hide-when-search">
        <div class="article row grid home-article">
          {{^_disableAffix}}
          <div class="col-md-10">
          {{/_disableAffix}}
            <article class="content wrap" id="_content" data-uid="{{uid}}">
                <div class="row home">
                    <div class="col-lg-12">
                        <div class="hero">
                            <div class="row feature-wrapper">
                                <div class="col-sm-4 feature-block text-center hidden-xs hidden-sm">
                                    <img src="images/communityDLSeal.png">
                                </div>
                                <div class="col-md-8 col-sm-12 feature-block text-center">
                                    <h1 class="text-center"><span class="hidden-xs">Welcome to the </span>DNN Docs</h1>
                                    <h2 class="text-center"><em>documentation created for the community, by the community</h2>
                                    <div class="row text-left">
                                        <div class="col-sm-4">
                                            <h4 class="hlead">Get Started</h4>
                                            <ul>
                                                <li><a href="/content/features/general/dnn/index.html">What is DNN?</a></li>
                                                <li><a href="/content/getting-started/setup/index.html">Setup DNN</a></li>
                                                <li><a href="/content/getting-started/contribution/index.html">Contribute to DNN</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <h4 class="hlead">Extend DNN</h4>
                                            <ul>
                                                <li><a href="/content/tutorials/themes/creating-themes/designers-creating-themes-overview/index.html">Creating Themes</a></li>
                                                <li><a href="/content/features/extensibility/extensions/index.html">Creating Extensions</a></li>
                                                <li><a href="/api/">DNN API</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4">
                                            <h4 class="hlead">Get Involved</h4>
                                            <ul>
                                                <li><a target="_blank" href="https://github.com/dnnsoftware/Dnn.Platform">DNN Platform</a></li>
                                                <li><a href="/content/getting-started/contribution/dnn-docs/index.html">DNN Docs</a></li>
                                                <li><a target="_blank" href="https://dnncommunity.org">DNN Community</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row home">
                    <div class="col-lg-12">
                        <div class="search well well">
                            <label for="homesearch" class="sr-only">Search the docs</label>
                            <input id="homesearch" class="form-control docs-search docs-search-home" placeholder="Search the docs...">
                        </div>
                    </div>
                </div>
                <div class="row home">
                    <div class="col-lg-12">
                        <h2 class="hlead">Explore the Docs</h2>
                    </div>
                </div>
                <div class="row home">
                    <div class="col-lg-12">
                        <div class="api-section">
                            <div class="wrapper">
                                <div class="media">
                                    <div class="media-left hidden-xs">
                                        <div class="icon">
																					<img src="images/administrator-icon.svg" alt="administrator-icon" />
																				</div>
                                    </div>
                                    <div class="media-body">
                                        <h2 class="media-heading"><img class="icon sm visible-xs-inline" src="images/administrator-icon.svg" alt="administrator-icon" /><span>Administrators</span></h2>
                                        <p>
                                            Hello, Administrator! This section encompasses documentation for both Admins and Super-Users (sometimes referred to as hosts). Administrators will handle tasks such as installing & upgrading DNN, configuring permissions and security roles, updating site settings, installing and updgrading extensions, and much more. 
                                        </p>
                                        <ul class="popular-topics">
                                            <li style="border-bottom: 0;">Quick Links: </li>
                                            <li><a href="/content/getting-started/setup/index.html">DNN Setup</a></li>
                                            <li><a href="/content/getting-started/setup/requirements/index.html">DNN Requirements</a></li>
                                            <li><a href="/content/getting-started/setup/upgrades/index.html">DNN Upgrades</a></li>
                                            <li><a href="/content/tutorials/troubleshooting/administrators-troubleshooting-overview/index.html">Troubleshooting</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="contributors hidden-xs">
                                    <img src="https://avatars0.githubusercontent.com/u/4571863?s=60&v=4">
                                    <img src="https://avatars3.githubusercontent.com/u/4568451?s=60&v=4">
                                    <img src="https://avatars3.githubusercontent.com/u/6237180?s=60&v=4">
                                </div>
                            </div>
                        </div>
                        
                        <div class="api-section">
                            <div class="wrapper">
                                <div class="media">
                                    <div class="media-left hidden-xs">
                                        <div class="icon">
																					<img src="images/developers-icon.svg" alt="developer-icon" />
																				</div>
                                    </div>
                                    <div class="media-body">
                                        <h2 class="media-heading"><img class="icon sm visible-xs-inline" src="images/developers-icon.svg" alt="developers-icon" /><span>Developers</span></h2>
                                        <p>
                                            Hello, Developer! DNN has an open API and many extension points. Developers can create custom DNN extensions using various development approaches. The content in this section will help you get started and learn more about DNN's extensibility model and applicable development patterns. 
                                        </p>
                                        <ul class="popular-topics">
                                            <li style="border-bottom: 0;">Quick Links: </li>
                                            <li><a href="/content/features/extensibility/extensions/index.html">Module (Extensions) Development</a></li>
                                            <li><a href="/content/tutorials/modules/mvc-modules/mvc-module-project-overview/index.html">MVC Module Development</a></li>
                                            <li><a href="/content/tutorials/modules/about-modules/spa-module-development/index.html">SPA Module Development</a></li>
                                            <li><a href="/content/tutorials/modules/about-modules/web-forms-module-development/index.html">Web Forms Module Development</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="contributors hidden-xs">
                                    <img src="https://avatars3.githubusercontent.com/u/1757808?s=60&v=4">
                                    <img src="https://avatars0.githubusercontent.com/u/4571863?s=60&v=4">
                                    <img src="https://avatars3.githubusercontent.com/u/6603270?s=60&v=4">
                                    <img src="https://avatars3.githubusercontent.com/u/4568451?s=60&v=4">
                                    <img src="https://avatars2.githubusercontent.com/u/3319692?s=60&v=4">
                                </div>
                            </div>
                        </div>
                        <div class="api-section">
                            <div class="wrapper">
                                <div class="media">
                                    <div class="media-left hidden-xs">
                                        <div class="icon">
																					<img src="images/designer-icon.svg" alt="designer-icon" />
																				</div>
                                    </div>
                                    <div class="media-body">
                                        <h2 class="media-heading"><img class="icon sm visible-xs-inline" src="images/designer-icon.svg" alt="designer-icon" /><span>Designers</span></h2>
                                        <p>
                                            Hello, Designer! Designers can achieve any look and feel desired with DNN. The content in this section will help designers and front-end developers alike understand the process for creating themes (formerly referred to as "skins") within DNN. If you can design it in Photoshop you can create it with a DNN theme!
                                        </p>
                                        <ul class="popular-topics">
                                            <li style="border-bottom: 0;">Quick Links: </li>
                                            <li><a href="/content/tutorials/themes/creating-themes/designers-creating-themes-overview/index.html">Creating Themes</a></li>
                                            <li><a href="/content/tutorials/themes/persona-bar-style-guide/index.html">Persona Bar Style Guide</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="contributors hidden-xs">
                                    <img src="https://avatars3.githubusercontent.com/u/4568451?s=60&v=4">
                                    <img src="https://avatars0.githubusercontent.com/u/4571863?s=60&v=4">
                                    <img src="https://avatars3.githubusercontent.com/u/6603270?s=60&v=4">
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
                
                               
            </article>
          </div>
          {{^_disableAffix}}
          <div class="hidden-sm col-md-2" role="complementary">
						<div class="home side-content">
                {{>partials/topContributors}}
                {{>partials/recentContributors}}
            </div>
            <div class="home side-content">
                <h4 class="hlead"><i class="fas fa-fire-alt" style="color: #9F58A9"></i> Helpful Links</h4>
                    <ul class="popular-topics">
                        <li>
                            <a href="https://dnncommunity.org/blogs"
                                title="Written for the Community, by the Community"
                                target="_blank">Community Blog</a>
                        </li>
                        <li>
                            <a href="https://dnncommunity.org"
                                title="DNN Platform's Community Home!"
                                target="_blank">DNNCommunity.org</a>
                        </li>
                        <li>
                            <a href="https://www.dnnsoftware.com"
                                title="DNN Corp., Evoq"
                                target="_blank">DNNSoftware.com</a>
                        </li>
                        <li>
                            <a href="https://github.com/dnnsoftware/Dnn.Platform"
                                title="The complete open source project on GitHub"
                                target="_blank">DNN Platform GitHub</a>
                        </li>
                        <li>
                            <a href="https://github.com/DNNCommunity/DNNDocs"
                                title="DNNCommunity/DNNDocs (this) project on GitHub"
                                target="_blank">DNNDocs GitHub</a>
                        </li>
                    </ul>
                <h4 class="hlead"><i class="fas fa-globe" style="color: #9F58A9"></i> Community</h4>
                <p>Learn more about DNN at these community events:</p>
                <ul class="events-list text-center">
                    <li>
                        <a href="https://www.dnn-connect.org/" target="_blank">
                            <img src="images/dnnconnect-2020.jpg">
                        </a>
                        <span class="details">2021<br>Obergurgl, Austria</span>
                    </li>
                    <li>
                        <a href="https://www.dnnsummit.org/" target="_blank">
                            <img src="images/2020-dnn-summit-logo.png">
                        </a>
                        <span class="details">Feb 24-26, 2020<br>Orlando, Florida</span>
                    </li>
                    <li>
                        <a href="http://www.southernfrieddnn.com/" target="_blank">
                            <img src="images/southernfried-logo.jpg">
                        </a>
                        <span class="details">3rd Thurs monthly<br>(online)</span>
                    </li>
                </ul>
            </div>
					</div>
          {{/_disableAffix}}
        </div>
      </div>
      {{^_disableFooter}}
      {{>partials/footer}}
      {{/_disableFooter}}
    </div>
    {{>partials/scripts}}

		<script>
        (function() {
            document.addEventListener('DOMContentLoaded', function () {                
                docsearch(document.dnndocs.algolia('input.docs-search-home'));  						
            });
        }());
    </script> 
  </body>
</html>
